li a {
    color: green;
}

#d1 {
    background: white url("images/einstein.jpg") no-repeat right bottom;
    background-size: 300px;
    width: 350px;
    height: 200px;
    position: fixed;
    top: 10;
    right: 20;
}